                                    html,
                                    body {
                                        height: 100%;
                                    }
                                    
                                    body {
                                        background-image: url("../images/crowd.jpg");
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        bottom: 0px;
                                    }
                                    
                                    .btn {
                                        margin: 5px;
                                        border-radius: 20px;
                                        border: 3px solid rgb(196, 0, 91);
                                    }
                                    
                                    .side-container {
                                        margin: 20px;
                                        height: 480px;
                                        position: relative;
                                    }
                                    
                                    .fishing-pole {
                                        position: absolute;
                                        height: 100%;
                                        width: 100%;
                                    }
                                    
                                    .image {
                                        position: relative;
                                        top: -50px;
                                        left: 117px;
                                        right: 0px;
                                        z-index: -1;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 2;
                                    }
                                    
                                    #img_shark {
                                        position: absolute;
                                        width: 100px;
                                        height: 100px;
                                        z-index: -2;
                                        position: absolute;
                                    }
                                    
                                    #img_blood {
                                        position: absolute;
                                        top: 216px;
                                        bottom: 414px;
                                        right: 0px;
                                        left: 150px;
                                        width: 50px;
                                        height: 50px;
                                        opacity: 0;
                                    }
                                    
                                    #surfer_gif {
                                        position: absolute;
                                        top: 77px;
                                        left: -69px;
                                        right: 70px;
                                        width: 400px;
                                        height: 300px;
                                        opacity: 1;
                                        margin-left: 20px;
                                        margin-top: 40px;
                                    }
                                    
                                    .content-container {
                                        border-radius: 10px;
                                        border: 1px solid rgb(196, 0, 91);
                                        padding: 20px;
                                        margin: 20px;
                                        background-color: rgba(245, 245, 245, 0.66);
                                        height: 450px;
                                        width: 100%;
                                        position: relative;
                                    }
                                    
                                    .button-container {
                                        position: absolute;
                                        bottom: 20px;
                                    }
                                    
                                    .game-container {
                                        position: absolute;
                                        padding: 20px;
                                        width: 100%;
                                        right: 0px;
                                        left: 0px;
                                    }
                                    
                                    #game {
                                        align-self: center;
                                    }
                                    
                                    p {
                                        text-emphasis: auto;
                                    }
                                    
                                    .jumbotron h1 {
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        color: #000;
                                        font-size: 48px;
                                        font-weight: bold;
                                        text-shadow: #afe222 1px 1px, #000 2px 2px, #000 3px 3px;
                                    }
                                    
                                    h3 {
                                        color: black;
                                    }
                                    
                                    .jumbotron {
                                        /* background-image: url("../images/wave.jpg"); */
                                        color: white;
                                        border-bottom: 3px solid #BADA55;
                                        padding: 1px 0px 20px 0px;
                                        background-image: linear-gradient(to bottom, #BADA55 50%, rgb(229, 101, 37) 100%), linear-gradient(to bottom, rgb(229, 101, 37) 60%, #75ccd2 100%);
                                        background-clip: content-box, padding-box;
                                    }
